* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
}

.Container {
  border-bottom: 1px solid black;
  padding: 20px;
  display: flex;
  /* position: fixed; */
  width: 100%;
  background-color: white;
  /* border: 5px solid blue; */
}

.menuWrapper {
  display: flex;
  flex: 3;
  justify-content: space-between;
}

.menuWrappermini {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.menuWrappermini p {
  color: var(--text, #373737);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.en-lang {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logoWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.iconWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

/* Footer */

.main-footer-con {
  display: flex;
  width: 100%;
  height: 350px;
  flex-shrink: 0;
  background: var(--blue, #006dab);
  margin-top: 60px;
  padding: 50px 71px;
}

.camper-con-two {
  flex: 1;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.services-con {
  flex: 1;
  cursor: pointer;
}
.menu-con {
  flex: 1;
  cursor: pointer;
}
.contact-con {
  flex: 1;
}
.h3-footer {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.services-con p,
.menu-con p,
.contact-con p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}
.contact-img-con {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}
.logo-icon {
  width: 92.128px;
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: none;
}
button.view-detail-btn {
  justify-content: center;
  align-items: center;
  display: none;
}

.menu-icon {
  display: none;
}
.menu-icon-2 {
  display: none;
}

/* Responsive Section */

@media only screen and (max-width: 1350px) {
  .menu-icon {
    display: flex;
  }

  .menu-icon-left {
    display: flex;
  }

  .menuWrappermini {
    display: none;
  }
  .en-lang {
    display: none;
  }

  .navbar-menus {
    display: none;
  }

  .sidebar-con {
    display: none;
  }

  .car-wrapper {
    display: grid;
    grid-template-areas: " a a a";
    justify-content: center;
  }

  .camper-con-two {
    display: none;
  }

  .logo-icon {
    display: flex;
  }

  .services-con,
  .menu-con {
    display: none;
  }

  .contact-con h3,
  p {
    display: none;
  }

  .contact-img-con {
    display: flex;
    justify-content: right;
    margin-top: -30px;
  }

  button.order-blue {
    border-radius: 10px;
    background: var(--blue, #006dab);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  button.compare-btn {
    display: none;
  }

  button.view-detail-btn {
    display: flex;
  }

  .car-btn {
    display: flex;
    gap: 5px;
  }
}

@media only screen and (max-width: 850px) {
  
  .menu-icon {
    display: none;
  }

  .car-wrapper {
    display: grid;
    grid-template-areas: " a a ";
    justify-content: center;
  }

  .camper-img-con p {
    display: flex;
  }

  button.order-blue {
    border-radius: 10px;
    background: var(--blue, #006dab);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .car-btn {
    display: flex;
    gap: 5px;
  }
}

@media only screen and (max-width: 700px) {
  
  .man {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .menu-icon-2 {
    display: flex;
  }

  .menu-icon-left {
    display: none;
  }

  .menu-icon-right {
    display: flex;
  }

  .navbar-aling-icons {
    display: none;
  }
  .man-icon {
    display: none;
  }

  .camper-img-con {
    margin-left: -40px;
  }

  .navbar-right-icons {
    margin-right: -25px;
  }

  .camper-img-con p {
    display: flex;
  }

  .sidebar-con {
    display: none;
  }

  .select-con {
    display: none;
  }

  .sixty-con {
    display: none;
  }

  .sort-con p {
    display: none;
  }

  .sort-con-right {
    display: flex;
    justify-content: right;
    /* margin-right: 30px; */
  }

  .item-con {
    margin-left: 30px;
  }

  .item-container {
    border-bottom: none;
  }

  .item-con p {
    display: flex;
  }

  .no-show {
    display: flex;
  }
  
  .car-wrapper {
    display: grid;
    grid-template-areas: " a ";
  }

  button.order-blue {
    border-radius: 10px;
    background: var(--blue, #006dab);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .car-btn {
    display: flex;
    gap: 5px;
  }
}
